*.pyc
.vscode
*__pycache__*
*.pth
*.pth.tar
*.pt
*.npy
*default_logger.txt
*default_tb_logger
*.egg-info
experiments
.idea
.DS_Store
__pycache__
*.txt
*.png
replay/
*.ipynb
*.ipynb_checkpoints
tmp_files
replays
user_config.yaml
replay_results
results
excels
*.lgc
local_entry/